<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--col-md-offset-->
<div class="container">
  <div class="w-100 clearfix">
    <div class="container col-md-5">
      <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>
      <div class="field">
          <%= form.label :photos %>
          <%= form.text_field :photos %>
      </div>
      <div class="field">
        <%= form.label :body %>
        <%= form.text_area :body %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>

      <div>
        <p id="char-count"></p>
      </div>
    </div>

    <div class="container col-md-offset-2 col-md-5">
      <strong>Post Preview:</strong><br>
      <div id="md-preview"></div>
    </div>
  </div>
</div>
  <script>
  const maxShortLength = 200

  const titleEl = document.getElementById("post_title")
  const textArea = document.getElementById("post_body")
  const charCount = document.getElementById("char-count")
  const previewEl = document.getElementById("md-preview")

  // on load
  const len = textArea.textLength
  const hasTitle = titleEl.value.length != 0
  if (len <= maxShortLength && !hasTitle) {
    titleEl.required = false
    charCount.textContent = `short ${len}/${maxShortLength}`
  } else {
    titleEl.required = true
    charCount.textContent = `long ${len}/${maxShortLength}`
  }
  previewEl.textContent = textArea.value
  previewEl.classList.add("md-render") // will be rendered when the relevant script is loaded

  // every edit
  textArea.addEventListener('input', () => {
    const md = window.markdownit()
    const len = textArea.textLength
    if (len <= maxShortLength) {
      titleEl.required = false
      charCount.textContent = `short ${len}/${maxShortLength}`
    } else {
      titleEl.required = true
      charCount.textContent = `long ${len}/${maxShortLength}`
    }
    previewEl.innerHTML = md.render(textArea.value)
  })
  </script>
<% end %>
