<div class="container post">
  <p id="notice"><%= notice %></p>

  <p class = "text-center">
    <strong><%= post.title %></strong>
  </p>

  <p class="md-render">
    <%= post.body %>
  </p>
<p class = "text-right">
  <%= link_to 'Edit', edit_post_path(post) %> |
  <%= link_to 'Back', posts_path %>
  </p>
</div>